<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Webcutter Api</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>Welcome on Webcutter API! - Bitly like app.</h1>
    <h2>
        Webcutter is an application created for fun using: Python,
        Flask, Flask RESTful and SQLAlchemy with PostgreSQL.
        <br />
        <br />
        The goal of this application is to create RESTful Api using Python and
        connect it with my Javascript's frontend created with React.
    </h2>
    <h2>
        Available paths: <br>
        GET /sites - get all sites <br>
        POST /sites - post new site <br>
        GET /site/"full_link" - get individual site <br>
        PUT /site/"full_link" - edit or enter new site if does not exist <br>
        DELETE /site/"full_link" - delete site link
    </h2>
    <h2>
        JSON for POST, PUT, GET:
        eg.
        {
            "site": "google.com" 
        }
    </h2>

    <h1>Enjoy testing!</h1>
    <h3>Author: <a href="https://github.com/HumbleNarcissus" target="_blank">Maciej Tarach</h3>
</body>
</html>